<div class="container text-center my-3">
    <div class="jumbotron" style="background-color: salmon;color: white;">
        <h1>TOKEN NO VÁLIDO</h1>
        <button class="btn btn-warning my-5" onclick="location.href='/'">VOLVER</button>
    </div>
</div>

